.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #000000;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.image-container {
  background-image: url('../../assets/home-bkg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 15px;
}

  .h-custom {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .btn-primary {
    background-color: #020911;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .form-gradient {
    background: linear-gradient(45deg, #5b74d8 50%, #261794fd 99%, #000361 100%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

 
  
